@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz@12..96&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #991ab1, #d246ef);;
}

h1,h2{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelForm{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 30px;
    margin-top: 5px;
}

.form{
    background: white;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    width: 420px;
    border: solid 2px #46034f;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 10px -10px 2px rgba(0, 0, 0, .5);
}

input[type="text"]{
    font-family: 'Bebas Neue', sans-serif;
    margin: 5px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid  #9c1caf;
}

input[type="email"]{
    font-family: 'Bebas Neue', sans-serif;
    margin: 15px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid  #9c1caf;
}

input[type="date"]{
    font-family: 'Bebas Neue', sans-serif;
    margin: 15px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid  #9c1caf;
}

input[type="checkbox"]{
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    border-bottom: 1px solid  #9c1caf;
}

.sexo{
    margin-right: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

.checkboxContainer{
    display: flex;
    align-items: center;
    justify-content:start;
    margin-top: 10px;
    margin-left: 30px;
}

input[type="password"]{
    font-family: 'Bebas Neue', sans-serif;
    margin: 15px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid  #9c1caf;
}

input:focus{
    outline: none;

}

.nacimiento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 200px;
    background-color: #cf44f1;
    border-radius: 10px;
    display: inline;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Bebas Neue', sans-serif;
}

.btn:hover{
    cursor: pointer;
    background-color: #46034f;
    color: white;
}