@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz@12..96&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #333333;
}

#saludo {
  margin-top: 20px;
  margin-left: 250px; /* Ancho del menú lateral */
  margin-right: auto;
  text-align: center;
  color: #cccccc;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

#saludo span {
  background: linear-gradient(#ff1cf7, #7b1db9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bienvenida {
  text-align: center;
  margin-left: 250px; /* Ancho del menú lateral */
  margin-right: auto;
  color: #cccccc;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
}

#bienvenida span {
  background: linear-gradient(#ff1cf7, #7b1db9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*SideBar*/
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: #cccccc;
  display: block;
  transition: 0.3s;
}

.sidebar a:not(.miBlog):hover{
  background: linear-gradient(#ff1cf7, #7b1db9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar a:hover span {
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}
.linksContainer{
    margin-top: 18px;
}

.miBlog{
  background: linear-gradient(#ff1cf7, #7b1db9);
  
}

main {
  margin-left: 250px;
  padding: 16px;
}

.divContenido{
  background-color: #ffff;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
}

.leerMas{
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  border: 2px solid transparent; /* Ancho del borde y color transparente */
  /* Radio para hacer el borde circular */
  border-image: linear-gradient(to right, #ff1cf7, #7b1db9); /* Aplica un degradado horizontal de rojo a verde solo a los bordes del botón */
  border-image-slice: 1; /* Define cómo se corta el degradado (1 significa que se corta en el centro) */
  background-color: transparent; /* Hace el fondo del botón transparente para que solo se vea el degradado en los bordes */
  font-size: 18px;
}

.leerMas:hover{
  background: linear-gradient(to right, #ff1cf7, #7b1db9); /* Cambia el color de fondo al pasar sobre el botón */
  color: #fff;
  border: none;
}

.contenidoVacio{
  background: linear-gradient(#ff1cf7, #7b1db9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  font-size: xx-large;
  text-align: center;
}

.ponteAEscribir{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  border: 2px solid transparent; /* Ancho del borde y color transparente */
  /* Radio para hacer el borde circular */
  border-image: linear-gradient(to right, #ff1cf7, #7b1db9); /* Aplica un degradado horizontal de rojo a verde solo a los bordes del botón */
  border-image-slice: 1; /* Define cómo se corta el degradado (1 significa que se corta en el centro) */
  background-color: #ffffff; /* Hace el fondo del botón transparente para que solo se vea el degradado en los bordes */
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.ponteAEscribir:hover{
  background: linear-gradient(to right, #ff1cf7, #7b1db9); /* Cambia el color de fondo al pasar sobre el botón */
  color: #fff;
  border: none;
}